@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

.header, .footer {
  @apply p-4 bg-gray-800 text-white;
}

.main {
  @apply p-8;
}

.card {
  @apply p-4 bg-white dark:bg-gray-700 rounded-lg shadow-md cursor-pointer;
}

.card h3 {
  @apply text-xl font-semibold mb-2;
}

.card p {
  @apply mb-2;
}

.card:hover {
  @apply shadow-lg transition-shadow duration-300;
}

input {
  @apply p-2 border border-gray-300 rounded-l-lg;
  color: #000;
}

input::placeholder {
  color: #999;
}

@media (prefers-color-scheme: dark) {
  input {
    color: #fff;
  }

  input::placeholder {
    color: #ccc;
  }
}

button {
  @apply p-2 bg-blue-500 text-white rounded-r-lg hover:bg-blue-600 transition-colors duration-300;
}